<div style="min-width: 0px">

  <mat-icon style="padding: 20px" (click)="navigationService.closeNavigation()">close</mat-icon>

  <a routerLink="/home" mat-button color="primary" style="width:100%">Home</a>
  <a routerLink="/arriving" mat-button style="width:100%">Inkoop</a>
  <a mat-button style="width:100%">Verkoop</a>
  <a mat-button style="width:100%">Verzending</a>
  <a mat-button style="width:100%">Instellingen</a>
  <a routerLink="/login" mat-button color="accent" style="width:100%">Uitloggen</a>

</div>
