<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>BO000000</mat-panel-title>
      <mat-panel-description>Orderomschrijving</mat-panel-description>
    </mat-expansion-panel-header>

    Content komt hier dan.

    <mat-action-row>
      <button mat-button color="primary">Overnemen</button>
      <button mat-button color="accent">Verwijderen</button>
    </mat-action-row>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>BO000000</mat-panel-title>
      <mat-panel-description>Orderomschrijving</mat-panel-description>
    </mat-expansion-panel-header>

    Content komt hier dan.

  </mat-expansion-panel>
</mat-accordion>
